
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<form action="@Url.Action("Login")" method="post">
    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            <label for="fUserId">帳號</label>
            <input type="text" id="fUserId" name="fUserId"  class="form-control"required placeholder="Account"/>
        </div>
        <div class="form-group">
            <label for="fPwd" >密碼</label>
            <input type="password" id="fPwd" name="fPwd" class="form-control" required placeholder="PassWord"/>
        </div>
        <div class="form-group">
            <div class=" col-md-2">
                <input type="submit" value="Login" class="btn btn-info" />
                @ViewBag.message
            </div>
                </div>
            </div>
</form>

